body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background:rgb(159, 137, 27);
}

.card {
    background:  rgb(221, 218, 16);
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
